---
title: Blog
---

<div id="blog-anchor">
</div>

<script type="text/javascript">
  window.POSTS = [
    {{#compose src="src/templates/posts/*.hbs"}}
      {
        id: '{{@basename}}',
        title: '{{@title}}',
        date: '{{formatDate @date "%m/%d/%Y"}}'
      },
    {{/compose}}
  ]
</script>

<div class="hide"></div>
  {{#compose src="src/templates/posts/*.hbs"}}
    <div id="post-content-{{@basename}}">
      {{{@content}}}
    </div>
  {{/compose}}
</div>

<script id="post-template" type="text/template" class="template">
  {{glob 'src/templates/layouts/post.underscore'}}
</script>
