extends layout

block prepend title
  | #{ page.title + " - "}

block content

  .row.post
    .box
      .col-lg-12
        hr
        a(href=page.url)
          h1.intro-text.text-center= page.title
            br
            small= moment.utc(page.date).format('DD. MMMM YYYY')
        hr
        | !{ typogr(page.html).typogrify() }

block prepend footer
  .row
    .box
      .col-lg-12
        a(href=contents.index.url)
          h2.pull-left
            | « Back
