extends base

block body
    .landing-wrapper
        .landing-wrapper-inner
            .landing-container
                .masthead.clearfix
                    a(href='/')
                        .masthead-logo
                            img(src=locals.site.logo)
                        h1.masthead-brand
                            = locals.site.title
                    p.masthead-tagline
                        = locals.site.tagline
                    nav
                        ul.nav.masthead-nav
                            li
                                a(href='/blog.html') Blog
                            li
                                a(href='/luke.html') About
                            li
                                a(href='/projects.html') Projects
                .mastfoot
                    each network in locals.social_networks
                        a.social(href=network.link, target='_blank')
                            i(class='fa fa-' + network.name)
                    a.footer-link(href='mailto:' + locals.site.email + '?Subject=Hello', target='_top')
                        | Contact me



    //.landing-wrapper
    //  .top-padding
    //  .landing
    //    a.brand(href='/')
    //      img(src=locals.site.logo)
    //      = locals.site.title
    //    .tagline-bar
    //      = locals.site.tagline
    //
    //  .landing-navbar-wrapper
    //    .navbar.navbar-default(role='navigation')
    //      .container
    //        .navbar-header
    //          a.navbar-brand(href='/')
    //            img(src=locals.site.logo)
    //            = locals.site.title
    //            br
    //            small.text-muted
    //              = locals.site.tagline
    //        div
    //          ul.nav.navbar-nav
    //            li
    //              a(href='/blog.html') Blog
    //            li
    //              a(href='/luke.html') About
    //            li
    //              a(href='/projects.html') Projects
    //    footer
    //      .container
    //        .row
    //          .col-lg-12.text-center
    //            each network in locals.social_networks
    //              a.social(href=network.link, target='_blank')
    //                i(class='fa fa-'+ network.name)
    //            a.footer-link(href='mailto:' + locals.site.email + '?Subject=Hello', target='_top')
    //              | contact
    //  .bottom-padding
