extends base

block prepend title
    if page && page.title
        | #{ page.title + " - "}

block body
    block nav
        .landing
            a.brand(href='/')
                img(src=locals.site.logo)
                = locals.site.title
            .tagline-bar
                = locals.site.tagline

        .navbar.navbar-default(role='navigation')
            .container
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/')
                        img(src=locals.site.logo)
                        = locals.site.title
                .navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li
                            a(href='/blog.html') Blog
                        li
                            a(href='/luke.html') About
                        li
                            a(href='/projects.html') Projects
    #preloaded-images

    .container
        block content

    block footer
        footer
            .container
                .row
                    .col-lg-12.text-center
                        each network in locals.social_networks
                            a.social(href=network.link, target='_blank')
                                i(class='fa fa-' + network.name)
                        a.footer-link(href='mailto:' + locals.site.email + '?Subject=Hello', target='_top')
                            | contact

    if page && page.metadata && page.metadata.gallery
        #blueimp-gallery.blueimp-gallery(data-use-bootstrap-modal="false")
            .slides
                h3.title
                a.prev ‹
                a.next ›
                a.close ×
                a.play-pause
                ol.indicator

block append js
    if page && page.metadata && page.metadata.gallery
        script(src='/node_modules/blueimp-gallery/js/jquery.blueimp-gallery.min.js')
        script(src='/node_modules/blueimp-bootstrap-image-gallery/js/bootstrap-image-gallery.min.js')
        script(type='text/javascript')
            | var GALLERY = {
            |   anchor: "!{ page.metadata.gallery.anchor }",
            |   images: ["!{page.metadata.gallery.images.join('","')}"]
            | }
